* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


header {
  height: 95px;
  background-color: skyblue;

}

header img {
  height: 50px;
  padding: 5px 0 0 5px;
}



/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
  margin-top: 0px;
  /* メニューバー外側の余白(ゼロ) */
  padding: 0px 0px 0px 15px;
  /* メニューバー内側の余白(左に15px) */
  background-color: orange;
  /* バーの背景色(濃い赤色) */
}

/* -------------------------- */
/* ▼メインメニュー項目の装飾 */
/* -------------------------- */
ul.ddmenu li {
  width: 125px;
  /* メニュー項目の横幅(125px) */
  display: inline-block;
  /* ★1:横並びに配置する */
  list-style-type: none;
  /* ★2:リストの先頭記号を消す */
  position: relative;
  /* ★3:サブメニュー表示の基準位置にする */
}

ul.ddmenu a {
  background-color: orange;
  /* メニュー項目の背景色(濃い赤色) */
  color: white;
  /* メニュー項目の文字色(白色) */
  line-height: 40px;
  /* メニュー項目のリンクの高さ(40px) */
  text-align: center;
  /* メインメニューの文字列の配置(中央寄せ) */
  text-decoration: none;
  /* メニュー項目の装飾(下線を消す) */
  font-weight: bold;
  /* 太字にする */
  display: block;
  /* ★4:項目内全域をリンク可能にする */
}

ul.ddmenu a:hover {
  background-color: #ffdddd;
  /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
  color: #dd0000;
  /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

/* ▼サブメニューは、とりあえず非表示にしておく */
ul.ddmenu ul {
  display: none;
  /* ★1:標準では非表示にする */
  margin: 0px;
  /* ★2:サブメニュー外側の余白(ゼロ) */
  padding: 0px;
  /* ★3:サブメニュー内側の余白(ゼロ) */
  position: absolute;
  /* ★4:絶対配置にする */
}

/* ---------------------------------- */
/* ▼サブメニューがある場合に開く処理 */
/* ※サブメニューが1階層しか存在しない場合の記述 */
/* ---------------------------------- */
ul.ddmenu li:hover ul {
  display: block;
  /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}


.main-contents {
  width: 100%;
}

.form {
  width: 50%;
  height: 500px;
  background-color: skyblue;
  float: left;
}

.nav {
  width: 50%;
  height: 500px;
  background-color: steelblue;
  float: left;
}

.submenu ul {
  list-style: none;

}

.hidden {
  display: none;
}
